*{
    border: 0;
    margin: 0;
    /*outline: 4px red solid; */
}

body{
    height: 100%;
        font-family: Roboto, sans-serif;
        font-size: 1rem;
        font-weight: 100;
        color: rgba(0, 0, 0, 1);
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 2em;
        letter-spacing: 1px;
    }

h2{
    font-size: 3em;
    padding-bottom: 20px;
    
}

.layout{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: bisque;
   
    border-radius: 50px;
    min-height: 600px;
}

.menu {
     
    padding: 70px 0px 70px 0px;
    display: flex;

}
.menu-content{
    display: flex;
    width: 100%;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    justify-content:  flex-end;
    background: tomato;
    
}

.menu-item{
    background: tomato;
    padding: 5px;
    cursor: pointer;
    height: 50px;
    margin: 5px;
    line-height: 25px;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;     

}

.menu-item a{
    text-decoration: none;
    color: white;
}
.menu-item a:hover, .menu-item a:focus {
    color: rgb(184, 8, 8);
}


.footer{
    display: flex;
   position: relative;  
   top: 50px;
   width: 100%;
}

.footer-content {
      display: flex;
      width: 100%;
      justify-content: space-around;
    
}

.footer-content p{
   margin: 0px 0px 0px 20px;
}

article{
    width: 400px;
    margin: 0 auto;
}

.content{
    padding-left: 50px;
    padding-right: 50px;
    min-height: 400px;
}
.content img{
     margin: 30px;
       
}

.content p {
    font-size: 1.2em;
    padding: 30px;
}

 

.tabla-catalogo{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
}

.tabla-encabezado{
    display: grid;
    font-size: 1.5em;    
    justify-content: left;
    background-color: tomato;
    font-weight: 700;
}

.row{
    display: grid;
    font-size: 1.1em;
}

.tabla-catalogo .right{
    justify-content: right;
}


.formulario-cotizacion span{    
    font-size: 1.2em;
    vertical-align: middle;
}

.formulario-cotizacion span.requerido{    
    color: red;
}

.formulario-cotizacion input{
    height: 40px;
    margin: 15px 5px;
    font-size: 1.2em;

}
.datos-contacto{
    list-style: none;
    font-size: 1.2em;

}

.mapa{
    width: 400px;
    margin: 0 auto;
}

.error{
    color: red;
}

.success{
    color: green;
}

.buscar-contenido{
	display:flex;
}

.buscar-contenido input{
	 width: 500px;
	 height: 40px;
}

.galeria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
}

.galeria>.img-container{
    
    box-shadow: 4px 5px 9px 0px rgba(0,0,0,0.26);
    margin: auto;
    margin-bottom: 0;
    background-color: white;
}

.galeria .img-label{
    display: flex;
    justify-content: space-around;
     
}

.img-label>span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.galeria img{
    width: 200px;
}

#nombre{
    width: 260px;
}
#edad{
    width: 75px;
}
#email{
    width: 480px;
}
#solicitud{
    font-size: 1.2em;
}
#enviar{
    height: 50px;
    width: 200px;
    border-radius: 70px;
    background-color: rgb(24, 172, 80);
    float: right;
    color: white;
}

#enviar:hover, #enviar:focus{
    background-color: rgb(70, 230, 131);
}

#cancelar{
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 70px;
    background-color: rgb(179, 29, 29);
}

#cancelar:hover, #cancelar:focus{
    background-color: rgb(247, 56, 49);
}

#mapa-img{
    height: 300px;
}

/* Slideshow container */
.mySlides {
    display: none
}

 
.slide-container{
    display: flex;
    background-color: white;
    width: 100%;
 
}
.slide-container>img{
    margin: 0 auto;
    height: 300px;
}

.slideshow-container {
    
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #2a066b;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    visibility: hidden;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
   
  .dots-galeria{
    text-align:center;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .bg-modal{
    align-items: center ;
    background-color: rgba(0,0,0,0.7);
    display:none;   
    height: 100%;     
    justify-content: center;  
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
  }

  .modal-content{
    width:600px;
    height:300px;
    background-color: white;
    border:none; 
    border-radius: 15px;
    padding:15px;
    position: relative;
    display: grid;
    }

.modal-content input{
    border: solid peachpuff;
}

.close{
    position: absolute;
    top:5px;
    right: 10px;
    font-size:25px;
    transform: rotate(45deg);  
    cursor: pointer;
    }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
