*{
    border: 0;
    margin: 0;
    /*outline: 4px red solid; */
}

body{
    height: 100%;
        font-family: Roboto, sans-serif;
        font-size: 1rem;
        font-weight: 100;
        color: rgba(0, 0, 0, 1);
        text-transform: none;
        font-style: normal;
        text-decoration: none;
        line-height: 2em;
        letter-spacing: 1px;
    }

h2{
    font-size: 3em;
    padding-bottom: 20px;
    
}

.layout{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: bisque;
    height: calc( 100vh - 120px);
    border-radius: 50px;
}

.menu {
     
    padding: 70px 0px 70px 0px;
    display: flex;

}
.menu-content{
    display: flex;
    width: 100%;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    justify-content:  flex-end;
    background: tomato;
    
}

.menu-item{
    background: tomato;
    padding: 5px;
    cursor: pointer;
    height: 50px;
    margin: 5px;
    line-height: 25px;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;     

}

.menu-item a{
    text-decoration: none;
    color: white;
}
.menu-item a:hover, .menu-item a:focus {
    color: rgb(184, 8, 8);
}


.footer{
   position: absolute;
   
   bottom: 22px;
   align-items: center;
}

.footer-content {
      display: flex;
      width: 100%;
   align-items: center;
    
}

.footer-content p{
   margin: 0px 20px 0px 20px;
}

article{
    width: 400px;
    margin: 0 auto;
}

.content{
    padding-left: 50px;
    padding-right: 50px;
}
.content img{
     margin: 30px;
       
}

.content p {
    font-size: 1.2em;
    padding: 30px;
}

 

.tabla-catalogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.tabla-encabezado{
    display: grid;
    font-size: 1.5em;    
    justify-content: left;
    background-color: tomato;
    font-weight: 700;
}

.row{
    display: grid;
    font-size: 1.1em;
}

.tabla-catalogo .right{
    justify-content: right;
}


.formulario-cotizacion span{    
    font-size: 1.2em;
    vertical-align: middle;
}

.formulario-cotizacion span.requerido{    
    color: red;
}

.formulario-cotizacion input{
    height: 40px;
    margin: 15px 5px;
    font-size: 1.2em;

}
.datos-contacto{
    list-style: none;
    font-size: 1.2em;

}

.mapa{
    width: 400px;
    margin: 0 auto;
}


#nombre{
    width: 260px;
}
#edad{
    width: 75px;
}
#email{
    width: 480px;
}
#solicitud{
    font-size: 1.2em;
}
#enviar{
    height: 50px;
    width: 200px;
    border-radius: 70px;
    background-color: rgb(24, 172, 80);
    float: right;
    color: white;
}

#enviar:hover, #enviar:focus{
    background-color: rgb(70, 230, 131);
}

#cancelar{
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 70px;
    background-color: rgb(179, 29, 29);
}

#cancelar:hover, #cancelar:focus{
    background-color: rgb(247, 56, 49);
}

#mapa-img{
    height: 300px;
}


